*{
    box-sizing: border-box;
}
.container{
    display: flex;
}
span.marked{
    background-color: rgb(226, 64, 64);
    color: white;
}
span{
    border: 1px solid rgb(83, 82, 82);
    margin: 5px;
    padding: 4px;
    color: rgb(83, 82, 82);
}
p.partido{
    border: 1px solid rgb(83, 82, 82);
    border-radius: 5px;
    width: 270px;
    margin: 14.2px;
    padding-left: 2px;
}
div.combo{
    margin: 0px 20px;
}
p.partido:nth-child(even){
    background-color: rgb(250, 214, 225);
}