@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Playwrite+BE+VLG+Guides&family=Playwrite+NL+Guides&display=swap');
h1{
    font-family: "Carattere", cursive;
    font-size: 2.5em;
    height: 0px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #FFF;
}
section{
    height: auto;
    padding: 20px;
    margin: 0 auto;
}
article{
    margin: 30px auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}
article img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
article div{
    width: 30%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 20px;
    min-width: 250px;
}