*{
    box-sizing: border-box;
    margin: 0px;
}
div{
    width: 200vw;
    text-align: center;
}
div.fixed{
    padding: 16px;
    float: left;
    height: 50px;
    display: block;
    width: 300px;
    background-color: #3498db;
}

div.variable{
    padding: 16px;
    float: right;
    height: 50px;
    display: block;
    background-color: #e74c3c;
    width: calc(100% - 300px);
}
